/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T &kp Y
                &kp A &kp S &kp D &kp F &kp G &kp H
                &kp Z &kp X &kp C &kp V &kp B &kp N
                &mo 1 &kp SPACE &kp ENTER
            >;
        };

        layer_1 {
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6
                &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL
                &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6
                &trans &trans &trans
            >;
        };
    };
};